*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculatrice{
    width: 30%;
    height: 80vh;
    background-color: #050426;
    border: none;
    border-radius: 2%;
    box-shadow: 1px 1px 4px ;
    padding-top: 4%;
}

.calculatrice form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calculatrice form .result{
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
}

.calculatrice form .result input{
    width: 100%;
    height: 100%;
    background-color: #050426;
    border: none;
    text-align: end;
    color: aliceblue;
    font-size: 3em;
    padding-right: 8%;
}

.calculatrice form .result input:focus{
    outline: none;
}

.calculatrice form .prompt{
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(5, 25%);
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.calculatrice form .prompt button{
    width: 65%;
    height: 80%;
    cursor: pointer;
    border-radius: 15%;
    border: none ;
    background-color: #050426;
    color: aliceblue;
    font-size: 1.5em;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2);
}

.calculatrice form .prompt .egal{
    justify-self: start;
    width: 160%;
    border-radius: 10%;
    margin-left: 20%;
}

.calculatrice form .prompt .calcul{
    color: aqua;
}